<h2 *ngIf="!selectedMenu">Selecciona un menú</h2>
<div class="list" *ngIf="!selectedMenu">
  <div class="item" *ngFor="let menu of menus" (click)="selectMenu(menu)">
    <div class="color"></div>
    <div>{{ menu.name }}</div>
    <div class="price">{{ menu.price | currency: 'EUR' }}</div>
  </div>
</div>

<h2 *ngIf="selectedMenu">{{ selectedMenu.name }}</h2>
<div class="list">
  <div class="item" *ngFor="let section of menuSections" (click)="selectSection(section)">
    <div class="color"></div>
    <div>{{ section.name }}</div>
    <div class="check" *ngIf="isSectionCompleted(section)">
      <i class="pi pi-check"></i>
    </div>
  </div>
</div>

<h2 *ngIf="sectionProducts.length > 0">Selecciona 1 opción</h2>
<div class="list">
  <div class="item" *ngFor="let product of sectionProducts" (click)="selectProduct(product)">
    <div class="color"></div>
    <div>{{ product.name }}</div>
    <div class="price">{{ product.supplement | currency: 'EUR' }}</div>
    <div class="check" *ngIf="isProductSelected(product)">
      <i class="pi pi-check"></i>
    </div>
  </div>
</div>
