<h2 *ngIf="!selectedMenu">Selecciona un menú</h2>
<div class="list" *ngIf="!selectedMenu">
  <div class="item" *ngFor="let menu of menus" (click)="selectMenu(menu)">
    <div>{{ menu.name }}</div>
    <div class="price">{{ menu.price | currency: 'EUR' }}</div>
  </div>
</div>

<div class="options" *ngIf="selectedMenu">
  <h2>{{ selectedMenu.name }}</h2>
  <button pButton label="Cancelar" class="p-button-danger p-button-text" (click)="reset()"></button>
  <button
    pButton
    label="Confirmar"
    (click)="confirm()"
    *ngIf="selected.sections && selected.sections.length > 0"></button>
</div>

<div class="list">
  <div class="item" *ngFor="let section of selectedMenu?.sections" (click)="selectSection(section)">
    <div>{{ section.name }}</div>
    <div class="check" *ngIf="isSectionCompleted(section)">
      <i class="pi pi-check"></i>
    </div>
  </div>
</div>

<ng-container *ngIf="selectedSection">
  <h2>Selecciona {{ selectedSection.maxProducts }} opción</h2>
  <div class="list">
    <div
      class="item"
      *ngFor="let product of selectedSection.products"
      (click)="selectProduct(product)">
      <div>{{ product.name }}</div>
      <div class="price">{{ product.supplement | currency: 'EUR' }}</div>
      <div class="check" *ngIf="isProductSelected(product)">
        <i class="pi pi-check"></i>
      </div>
    </div>
  </div>
</ng-container>
