<header>
  <div class="time"><pos-time></pos-time></div>
</header>
<main>
  <div class="options">
    <button
      pButton
      label="Terminal"
      icon="pi pi-align-justify"
      class="p-button-lg"
      (click)="pageShowing = 'bill'"></button>
    <button
      pButton
      label="Mesas"
      icon="pi pi-table"
      class="p-button-lg"
      (click)="pageShowing = 'map'"></button>
    <button
      pButton
      label="Tickets"
      icon="pi pi-bookmark"
      class="p-button-lg"
      (click)="pageShowing = 'tickets'"></button>
  </div>
  <ng-container *ngIf="pageShowing === 'bill'">
    <div class="items">
      <div class="categories">
        <div
          class="category item"
          (click)="selectCategory(category)"
          *ngFor="let category of categories"
          [style.background-color]="category.color">
          <img [src]="'/assets/icons/' + category.icon" />
          <div>{{ category.name }}</div>
        </div>
        <div class="category item" (click)="selectMenu()">
          <img [src]="'/assets/icons/restaurant-menu.png'" />
          <div>Menus</div>
        </div>
      </div>
      <ng-container *ngIf="selectedCategory">
        <h2>{{ selectedCategory.name }}</h2>
        <div class="products">
          <div
            class="item"
            (click)="selectProduct(product)"
            *ngFor="let product of selectedCategory.products">
            <div class="color" [style.background-color]="selectedCategory.color"></div>
            <div>{{ product.name }}</div>
            <div class="price">{{ product.price | currency: 'EUR' }}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedMenus">
        <pos-menus
          [menus]="menus"
          [billMenu]="selectedBillMenu"
          (selectedItems)="onSelectMenu($event)"></pos-menus>
      </ng-container>
    </div>
    <div class="summary">
      <ng-container *ngIf="selectedBill">
        <div class="table">
          <div class="name" *ngIf="selectedBill.tableId">
            # Mesa {{ (selectedBill.tableId | select: tables)?.name }}
          </div>
          <div class="name" *ngIf="!selectedBill.tableId"># {{ selectedBill.id | slice: 0:4 }}</div>
          <div class="people" (click)="changePeople()">
            <i class="pi pi-user"></i>
            {{ selectedBill.people ?? '-' }}
          </div>
        </div>
        <div class="list">
          <ng-container *ngFor="let item of selectedBill.billItems">
            <div class="list-item">
              <div class="info">
                <div class="name">{{ item.name }}</div>
                <div class="price">
                  {{ item | totalPrice | currency: 'EUR' }}
                </div>
              </div>
              <div class="menu" *ngIf="item.menuId">
                <div class="price">{{ item.price | currency: 'EUR' }}</div>
                <div class="menu-section" *ngFor="let section of item.sections">
                  <div class="section-name">{{ section.section.name }}</div>
                  <div class="section-list" *ngFor="let item of section.products">
                    <div class="section-list__name">{{ item.name }}</div>
                    <div class="section-list__price">+ {{ item.supplement | currency: 'EUR' }}</div>
                  </div>
                </div>
                <div>
                  <button
                    pButton
                    label="Eliminar"
                    (click)="changeQuantity(item, -1)"
                    class="p-button-text p-button-danger"></button>
                  <button
                    pButton
                    label="Modificar"
                    (click)="changeMenu(item)"
                    class="p-button-text"></button>
                </div>
              </div>
              <div class="change-quantity" *ngIf="item.productId">
                <div class="quantity">
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-icon-only"
                    icon="pi pi-minus"
                    (click)="changeQuantity(item, -1)"></button>
                  {{ item.quantity }}
                  <button
                    pButton
                    type="button"
                    class="p-button-rounded p-button-icon-only"
                    icon="pi pi-plus"
                    (click)="changeQuantity(item, 1)"></button>
                </div>
                <div class="item-price">
                  {{ item.price | currency: 'EUR' }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="price-summary">
          <div class="price-summary__item">
            <div>Pagado</div>
            <div>- {{ selectedBill.paid | currency: 'EUR' }}</div>
          </div>
          <div class="price-summary__item">
            <div>Subtotal</div>
            <div>{{ selectedBill.total * 0.9 | currency: 'EUR' }}</div>
          </div>
          <div class="price-summary__item">
            <div>Impuestos (10%)</div>
            <div>{{ selectedBill.total * 0.1 | currency: 'EUR' }}</div>
          </div>
          <div class="price-summary__item price-summary__item--total">
            <div>Total</div>
            <div>
              {{ selectedBill.total - selectedBill.paid | currency: 'EUR' }}
            </div>
          </div>
        </div>

        <div class="actions">
          <button
            pButton
            (click)="newBill()"
            class="p-button-outlined p-button-lg"
            label="Nueva comanda"></button>
          <button pButton class="p-button-outlined p-button-lg" label="Imprimir ticket"></button>
          <button
            pButton
            *ngIf="selectedBill.total === selectedBill.paid"
            (click)="closeBill()"
            class="p-button-lg"
            label="Cerrar mesa"></button>
          <button
            pButton
            *ngIf="selectedBill.total !== selectedBill.paid"
            (click)="checkout()"
            class="p-button-lg"
            label="Cobrar"></button>
        </div>
      </ng-container>
      <ng-container *ngIf="!selectedBill">
        <div class="empty">
          <img src="/assets/empty.png" />
          <div>Selecciona un producto</div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="pageShowing === 'map'">
    <div class="map">
      <pos-map
        [editorMode]="false"
        [locations]="locations"
        [tables]="tables"
        (selected)="onSelectTable($event)"></pos-map>
    </div>
  </ng-container>

  <ng-container *ngIf="pageShowing === 'tickets'">
    <pos-tickets [bills]="bills" (selectedBill)="onSelectTicket($event)"></pos-tickets>
  </ng-container>
</main>
