<div class="map-container">
  <div class="map">
    <div class="legend">
      <h3>Mesas:</h3>
      <div>
        <i class="pi pi-circle-fill" style="color: #56c066"></i>
        <span>Ocupadas: 7</span>
      </div>
      <div>
        <i class="pi pi-circle-fill" style="color: #dbdee4"></i>
        <span>Disponibles: 9</span>
      </div>
    </div>
    <div id="canvas"></div>
  </div>
  <div class="locations">
    <div
      class="location"
      cdkDrag
      *ngFor="let location of locations"
      (click)="changeLocation(location!)">
      <button
        pButton
        class="location-button p-button-lg"
        [class.p-button-outlined]="location.id !== selectedLocation?.id">
        {{ location.name }}
      </button>
    </div>
  </div>
</div>
