<div class="actions">
  <button pButton (click)="addItem('table')" type="button">Mesa</button>
  <button pButton (click)="addItem('text')" type="button">Texto</button>
  <button pButton (click)="addItem('circle')" type="button">Redonda</button>
  <button pButton (click)="onSave()" type="button" class="p-button-success">
    Guardar
  </button>
  <hr />
  <form *ngIf="form" [formGroup]="form">
    <div *ngFor="let option of formOptions">
      <div [ngSwitch]="option.type">
        <ng-container *ngSwitchCase="'text'">
          <label>{{ option['name'] }}</label>
          <input [formControlName]="option.key" type="text" pInputText />
        </ng-container>

        <ng-container *ngSwitchCase="'number'">
          <label>{{ option['name'] }}</label>
          <p-inputNumber
            [formControlName]="option.key"
            [step]="option['step'] ?? 1"
            [min]="option['min'] ?? 0"
            [max]="option['max']"
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          ></p-inputNumber>
        </ng-container>
      </div>
    </div>
  </form>
  <hr />

  <button
    *ngIf="selectedItem"
    pButton
    (click)="onDelete()"
    type="button"
    class="p-button-danger"
  >
    Eliminar
  </button>
</div>

<div class="map-container">
  <div class="locations">
    <div
      class="location"
      *ngFor="let location of locations"
      (click)="onChangeFloor(location.id!)"
    >
      <button pButton>{{ location.name }}</button>
    </div>
    <button pButton (click)="onCreateFloor()">
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <div class="map">
    <div id="canvas"></div>
  </div>
</div>
