<p-selectButton [options]="paymentOptions" [(ngModel)]="type" optionValue="code">
  <ng-template let-item>
    <div class="payment-label">
      <i [class]="item.icon"></i>
      <div>{{ item.name }}</div>
    </div>
  </ng-template>
</p-selectButton>
<div class="price-summary">
  <div class="price-summary__item">
    <div>Total</div>
    <div>{{ bill.total - bill.paid | currency: 'EUR' }}</div>
  </div>
  <div class="price-summary__item">
    <div>A pagar</div>
    <div>{{ payment | currency: 'EUR' }}</div>
  </div>
</div>
<div class="options">
  <button
    pButton
    class="p-button-outlined p-button-danger"
    (click)="clean()"
    label="Borrar"></button>
  <button pButton class="p-button-outlined" (click)="all()" label="Todo"></button>
</div>
<pos-number-pad [(ngModel)]="payment"></pos-number-pad>
<div class="actions">
  <button pButton class="p-button-danger p-button-lg" (click)="cancel()" label="Cancelar"></button>
  <button
    pButton
    class="p-button-success p-button-lg"
    [disabled]="payment === 0 || bill.total - bill.paid - payment < 0"
    (click)="confirm()"
    label="Confirmar"></button>
</div>
