<div class="actions" *ngIf="editorMode">
  <button
    pButton
    (click)="addItem('table')"
    type="button"
    icon="pi pi-stop"
    label="Mesa"></button>
  <button
    pButton
    (click)="addItem('circle')"
    type="button"
    icon="pi pi-circle"
    label="Redonda"></button>
  <div class="separator"></div>
  <button
    pButton
    (click)="addItem('text')"
    type="button"
    icon="pi pi-pencil"
    label="Texto"></button>
  <button
    pButton
    (click)="onSave()"
    type="button"
    class="p-button-success save">
    Guardar
  </button>
</div>

<div class="map-container">
  <div class="map">
    <div id="canvas"></div>
    <div class="location-name" *ngIf="selectedLocation && editorMode">
      <input type="text" pInputText [(ngModel)]="selectedLocation.name" />
      <button
        pButton
        icon="pi pi-trash"
        class="p-button-rounded p-button-text p-button-icon-only p-button-danger"
        (click)="deleteLocation($event)"></button>
      <p-confirmPopup></p-confirmPopup>
    </div>
    <div class="options" *ngIf="form && editorMode">
      <form [formGroup]="form">
        <div *ngFor="let option of formOptions">
          <div [ngSwitch]="option.type" class="item">
            <ng-container *ngSwitchCase="'text'">
              <label>{{ option['name'] }}</label>
              <input [formControlName]="option.key" type="text" pInputText />
            </ng-container>

            <ng-container *ngSwitchCase="'number'">
              <label>{{ option['name'] }}</label>
              <p-inputNumber
                [formControlName]="option.key"
                [step]="option['step'] ?? 1"
                [min]="option['min'] ?? 0"
                [max]="option['max']"
                [showButtons]="true"
                buttonLayout="horizontal"
                spinnerMode="horizontal"
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"></p-inputNumber>
            </ng-container>
          </div>
        </div>

        <button
          *ngIf="selectedItem"
          pButton
          (click)="onDelete()"
          type="button"
          class="delete p-button-danger">
          Eliminar
        </button>
      </form>
    </div>
  </div>
  <div
    class="locations"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="orderLocation($event)">
    <div
      class="location"
      cdkDrag
      *ngFor="let location of locations"
      (click)="changeLocation(location!)">
      <button
        pButton
        [class]="{
          'p-button-outlined': location.id !== selectedLocation?.id,
          'location-button': true
        }">
        {{ location.name }}
      </button>
    </div>
    <button
      pButton
      (click)="createLocation()"
      *ngIf="editorMode"
      class="p-button-secondary"
      icon="pi pi-plus"
      label="Nueva localización"></button>
  </div>
</div>
