<div class="actions">
  <input type="text" [(ngModel)]="section.name" pInputText placeholder="Nombre" />
  <button pButton (click)="onSave()">Guardar</button>
</div>

<p-pickList
  [source]="selectedCategory?.products ?? [] | filterList: products"
  [target]="products"
  [responsive]="true"
  sourceHeader="Disponible"
  targetHeader="Seleccionados"
  [dragdrop]="true"
  [responsive]="true"
  [sourceStyle]="{ height: '30rem' }"
  [targetStyle]="{ height: '30rem' }"
  filterBy="name"
  sourceFilterPlaceholder="Search by name"
  targetFilterPlaceholder="Search by name">
  <ng-template pTemplate="sourceFilter" let-options="options">
    <div class="p-picklist-filter">
      <p-dropdown
        [options]="categories"
        [(ngModel)]="selectedCategory"
        class="dropdown"
        optionLabel="name"></p-dropdown>
      <input
        [(ngModel)]="sourceFilterValue"
        type="text"
        (keyup)="options.filter($any($event.target)?.value)"
        role="textbox"
        class="p-picklist-filter-input p-inputtext p-component" />
      <span
        *ngIf="sourceFilterValue"
        class="p-picklist-filter-icon pi pi-times"
        (click)="options.reset(); sourceFilterValue = ''"></span>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product">
      <div class="product-name">
        {{ product.name }}
      </div>
      <div class="product-price">{{ product.price }}€</div>
    </div>
  </ng-template>
</p-pickList>
